<html>
<head></head>

<body>
    <h1>Add Post</h1>
    <a href="/"><div>Home</div></a>

    <form action="/add-post" method="POST">
        <input type="text" name="title" placeholder="What's your post title?"/>
        <input type="text" name="description" placeholder="Write your post here!"/>
        <button>Save</button>
        
    </form>

    
</body>

</html>