<html>
<head></head>

<body>
    <h1>Delete Post</h1>
     <a href="/"><div>Home</div></a>

    <form action="/delete-post" method="POST">
        <input type="text" name="postID" placeholder="Enter post ID"/>
        <button>Submit</button>
        
    </form>

    
</body>

</html>