<html>
<head></head>

<body>
    <h1>Edit a Post</h1>
    <a href="/"><div>Home</div></a>

    <form action="/edit-post" method="POST">
        <input type="text" name="postid" placeholder="Enter post ID"/>
        <input type="text" name="title" placeholder="Enter new title"/>
        <input type="text" name="description" placeholder="Enter new body"/>
        <button>Save</button>
        
    </form>

    
</body>

</html>